body{
    background-color: #add8e6;
}
h1{
    text-align: center;
    
}
img{
    width: 80px;
    
}
h2{
    text-align: center;
   
}
div{
    text-align: center;
    
}
footer{
    text-align: center;
    font-weight: bold;
    
}
