body{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 15vh 10vh 60vh 15vh;
    align-items: stretch;
    justify-items: center;
    background-image: linear-gradient(grey, white);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    grid-column: 1/4;
    justify-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a{
    color: blue;
    font-weight: 700;
}
aside img{
    width: 90%;
    height: auto;
}
aside{
    grid-column: 1/2;
    grid-row: 3/5;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
article{
    text-align: center;
}
footer{
    grid-column: 2/4;
    grid-row: 4/5;
    justify-self: stretch;
    display: flex;
    justify-content: space-around;
    align-items: center;
}