body {
    color: black;
background-image: url("./img/moorish-pattern_644416-582.jpg");
display: flex;
flex-direction: column;
}

h1 {
    color: blue;
    background-color: aqua;
    text-align: right;
}

ul {
    background-color: #191970;
}
a {
    color: #ffd700;
}